In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
adapters = pd.read_excel("C:\\Users\\Administrator\\Documents\\Coding\\DS\\adapters\\adapters_1vAll.xlsx")

In [3]:
adapters

       P7_one    P7_all
0    CTTGAGCA  CTGCAGTC
1         NaN  TGAGCCTC
2         NaN  CTTGAGCA
3         NaN  CCGTTAAT
4         NaN  CACCTCAG
..        ...       ...
209       NaN  TCAAGGCA
210       NaN  CTGGAATG
211       NaN  TGATGCCT
212       NaN  ATCAACGC
213       NaN  TATCTCGC

[214 rows x 2 columns]

In [46]:
adapters['roche'] = adapters['roche_p7'] + adapters['roche_p5_nextseq']
adapters['china_nextseq'] = adapters.iloc[:96].apply(lambda row: row['china_i7'][:8] + row['china_i5_nextseq'][:8], axis=1)
adapters['china_no_nextseq'] = adapters.iloc[:96].apply(lambda row: row['china_i7'][:8] + row['china_i5_no_nextseq'][:8], axis=1)

In [48]:
adapters.head(99)

,roche_p7,roche_p5_nextseq,china_i7,china_i5_no_nextseq,china_i5_nextseq,roche,china_nextseq,china_no_nextseq
0,TGGATCGA,AGCTAGGT,TTGTGTCCTC,GTGATAAGCA,TGCTTATCAC,TGGATCGAAGCTAGGT,TTGTGTCCTGCTTATC,TTGTGTCCGTGATAAG
1,CAAGCTAG,GATCGAAC,CACCTCAGGA,TCCTATTAGG,CCTAATAGGA,CAAGCTAGGATCGAAC,CACCTCAGCCTAATAG,CACCTCAGTCCTATTA
2,GTACCAAG,GAACCATG,GGTACGTACT,CATGGCGTAC,GTACGCCATG,GTACCAAGGAACCATG,GGTACGTAGTACGCCA,GGTACGTACATGGCGT
3,ACGTTGGA,AGGTTGCA,ACAGAAGTAG,AGACCGCCTT,AAGGCGGTCT,ACGTTGGAAGGTTGCA,ACAGAAGTAAGGCGGT,ACAGAAGTAGACCGCC
4,TCGTGGTA,ATGGTGCT,TAAGGAGTCA,CGTGCCGATT,AATCGGCACG,TCGTGGTAATGGTGCT,TAAGGAGTAATCGGCA,TAAGGAGTCGTGCCGA
...,...,...,...,...,...,...,...,...
94,GTGCTTAG,GATTCGTG,GCCGAATTAA,CATTAGCTCT,AGAGCTAATG,GTGCTTAGGATTCGTG,GCCGAATTAGAGCTAA,GCCGAATTCATTAGCT
95,ACATCCGA,AGCCTACA,AGGACGCGTT,ACGGTCGGTA,TACCGACCGT,ACATCCGAAGCCTACA,AGGACGCGTACCGACC,AGGACGCGACGGTCGG
96,TGTACCTG,GTCCATGT,NaN,NaN,NaN,TGTACCTGGTCCATGT,NaN,NaN
97,CACGTTCA,ACTTGCAC,NaN,NaN,NaN,CACGTTCAACTTGCAC,NaN,NaN
98,GGCCTTAT,TATTCCGG,NaN,NaN,NaN,GGCCTTATTATTCCGG,NaN,NaN

In [4]:

def adapter_difference(str1,str2):

  result = 0

  #handle the case where one string is longer than the other
  maxlen = len(str2) if len(str1)<len(str2) else len(str1)

  #loop through the characters
  for i in range(maxlen):
    #use a slice rather than index in case one string longer than other
    letter1 = str1[i:i+1]
    letter2 = str2[i:i+1]
    #count difference
    if letter1 == letter2:
      result += 1

  #print out result
  return result

In [47]:
#Taking one adapter from the Chinese ones and comparing to every single one of Roche
def all_column_diff(adapter, adapters):
    diff_dict = {}
    for value in adapters:
        diff = adapter_difference(adapter, value)
        if diff == 8:
            print('8: ', value)   
        if diff == 5:
            print('5: ', value)
        if diff in diff_dict:
            diff_dict[diff] += 1
        else:
            diff_dict[diff] = 1
    sorted_dict = dict(sorted(diff_dict.items()))
    print(sorted_dict)
    # Итерация по ключам
    sum = 0
    for key in sorted_dict:
        sum += int(sorted_dict[key])*(pow(2, int(key)))
    if sum == 0:
        print('FULL MATCH')
    return sum, sorted_dict

In [48]:
print(all_column_diff('CTTGAGCA',adapters['P7_all']))

8:  CTTGAGCA
5:  CTCGTGAA
5:  CTTCAGAC
5:  CTTGGCAA
5:  CTAGGACA
5:  ACTGAGGA
5:  GATGAGCT
{0: 28, 1: 66, 2: 52, 3: 43, 4: 18, 5: 6, 8: 1}
(1448, {0: 28, 1: 66, 2: 52, 3: 43, 4: 18, 5: 6, 8: 1})